<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top flex-column">
            <div class="d-flex">
                <a id="brandlogo" class="navbar-brand d-inline-block" asp-page="/Index">
                        Classical Baptist Press
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-dark bg-dark justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav left">
                    <li class="nav-item"><a class="nav-link" asp-page="/Index">About</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/Publications">Publications</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/Media">Media</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/Contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" asp-page="/PublishWithUs">Publish With Us</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="parallax" style="background-image: url('@ViewData["ParallaxImgPath"]');"></div>
    <br />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container center-align">&copy; 2021 Classical Baptist Press</div>
        <span class="center" id="siteseal">
            <script async type="text/javascript"
                    src="https://seal.godaddy.com/getSeal?sealID=BCxH2EEjimBHzHtUGLeIYZJwNDKpE9SOUXPG7TIcFIq5FMKbjzx4nBx60PqS">
            </script>
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
