.indentation {
    text-indent: 50px;
}

body, html {
    height: 100%;
    margin: 0;
}

#wrap {
    min-height: 100%;
}

.parallaxText {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 55px;
    position: relative;
    text-align: center;
    font-family: 'Cinzel', serif;
    background-color: rgba(255, 81, 0,0.77);
}

.footer {
    padding: 10px;
    height: 75px;
    text-align: center;
    color: whitesmoke;
    background-color: #343a40;
}

.secTitle {
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Cardo', serif;
}
