@page
@model RPClassicalBaptistPress.Pages.ContactModel
@{
    ViewData["Title"] = "Contact || Classical Baptist Press: Contact";
    ViewData["ParallaxImgPath"] = "../images/email.jpg";
}
<div class="parallax"></div>
<!--Main Body-->
<header class="row">
    <div class="col">
        <h3 class="Section-Title center blue-grey-text text-darken-3" id="header">Contact</h3>
        <hr>
    </div>
</header>
<main class="row ">
    <p class="col Body-Card" style="text-align: center">
        <b> Contact Dr. John Waldrip at:</b>
        <a href="mailto:johnswaldrip@classicalbaptist.press" target="_top">
            johnswaldrip@classicalbaptist.press
        </a>
    </p>
    <hr />
</main>