@page
@model RPClassicalBaptistPress.Pages.ContactModel
@{
    ViewData["Title"] = "Contact || Classical Baptist Press: Contact";
    ViewData["ParallaxImgPath"] = "../images/email.jpg";
}

<!-- Container element -->
<div class="parallax"></div>
<br />
<!--Main Body-->
<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="secTitle center blue-grey-text text-darken-3" id="header">Contact</h3>
            <hr>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col" style="text-align: center">
            <strong> Contact Dr. John Waldrip at:</strong>
            <p>
                <a href="mailto:johnswaldrip@classicalbaptist.press" target="_top">
                    johnswaldrip@classicalbaptist.press
                </a>
            </p>
        </div>
        <hr />
    </div>
</section>