@page
@model IndexModel
@{
    ViewData["Title"] = "Classical Baptist Press";
    ViewData["ParallaxImgPath"] = "../images/books.jpg";
}
<!--Main Body-->
<section class="container img-fluid" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="Section-Title">About</h3>
            <hr>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="~/images/image1.jpg" alt="Pastor_Pic" class="img-fluid">
            <br>
        </div>
        <div class="col">
            <p>
                <h5 class="Title-Card">What Is A Classical Baptist Church?</h5>
                <small>
                    By Dr. John S. Waldrip
                </small>
            </p>
            <p class="  Body-Card">
                Classical Baptist Press was established by Dr. John S. Waldrip in 2018 to be a platform for
                the publication of classical Baptist writings. The mission of Classical Baptist Press is to
                be a blessing to the family of God. Especially Baptists who are committed to Gospel preaching,
                biblical evangelism, and the depraved sinner’s new birth transformation by the Holy Spirit.
                Classical Baptist Press desires to strongly resist the tendency to be tossed about by every
                wind of change, the latest fads, and rejects the Protestant view of the Church set forth in
                the Westminster Confession of Faith.
            </p>
            <p class="  Body-Card">
                Further, Classical Baptist Press seeks to educate and convict believers to recognize and embrace
                the Great Commission. Where there is accountability in the local church and when congregations are
                involved in starting other Churches to carry out the Great Commission, at home and in other places,
                the two ordinances are rightly obeyed when Christians render service to Christ.
            </p>
            <p class="  Body-Card">
                The purpose of CBP is to embrace, encourage and educate believers who are committed to living the
                Great Commission through the Gospel, evangelism and the publication of Biblical writings.
            </p>
            <div class="d-flex justify-content-end">
                <a asp-page="/MoreAbout" class="btn btn-secondary">
                    Read More
                </a>
            </div>
            <br />
            <div class="d-flex justify-content-around">
                <a href="https://www.firstloveradio.org/" class="" target="blank">
                    <img src="~/images/radio.jpg" alt="According to thy word" class="img-fluid">
                </a>
            </div>
            <br />
            <div class="d-flex justify-content-around">
                <button class="btn btn-secondary d-flex justify-content-around"
                        formtarget="_blank"
                        style="text-align:center"
                        onclick="window.location.href='https://www.firstloveradio.org'">
                    Lisent Live!
                    <span class="material-icons">
                        headset
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br />
    <hr />
</section>