@page
@model RPClassicalBaptistPress.Pages.Media
@{
    ViewData["Title"] = "Classical Baptist Press - Media";
    ViewData["ParallaxImgPath"] = "../images/media.jpg";
    var mediaFilesInfo = Media.GetMediaFilesInfo();
}
<!-- Container element -->
<div class="parallax"></div>
<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="Section-Title center" id="header">Media</h3>
            <hr>
            <br>
        </div>
    </div>
    @foreach (var mfile in mediaFilesInfo)
    {
        <div class="row ">
            <div class="col-sm">
                @Html.Raw(mfile.EmbeddedHTMLMediaFile)
            </div>
            <div class="col">
                <h3 class="blue-grey-text text-darken-3 Title-Card"> @mfile.Title. </h3>
                <h5 class="Title-Card">By @mfile.Author</h5>
                <p class="card-panel Body-Card">
                    @Html.Raw(mfile.DescriptionParagraph)
                </p>
            </div>
        </div>
        <hr />
    }
</section>