@page
@model RPClassicalBaptistPress.Pages.MediaModel
@{
    ViewData["Title"] = "Classical Baptist Press - Media";
    ViewData["ParallaxImgPath"] = "../images/media.jpg";
}

<!-- Container element -->
<div class="parallax"></div>
<br />
<!--Main Body-->
<br />
<br />
<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="secTitle center" id="header">Media</h3>
            <hr>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <audio controls="controls" preload="auto">
                <source src="./assets/threeCreations.mp3" typeof="audio/ogg">
            </audio>
        </div>
        <div class="col">
            <h3 class="blue-grey-text text-darken-3">Three Creations, Two Lives</h3>
            <h5>
                By Joe Doyel
            </h5>
            <p class="card-panel">
                Pastor Joe Doyle explains the three creations of God.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <iframe src="https://www.youtube.com/embed/t91z67hvFvw" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="col">
            <h3 class="blue-grey-text text-darken-3">
                Doing Apologetics in an Anti-Apologetics Age
            </h3>
            <h5>By Dr. Voddie Baucham</h5>
            <p class="card-panel">
                Dr. Voddie Baucham, Dean at African Christian University's Seminary in Lusaka, Zambia discusses
                apologetics and its importance in everyday life.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <iframe src="https://www.youtube.com/embed/G1XJ7DeR5fc" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="col">
            <h3 class="blue-grey-text text-darken-3">Why you can believe the Bible</h3>
            <h5>
                By Voddie Baucham
            </h5>
            <p class="card-panel">
                Voddie Baucham is a husband, father, pastor, author, professor, conference speaker and church
                planter. He serves as Pastor of Preaching at Grace Family Baptist Church in Spring, Texas.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <iframe src="https://www.youtube.com/embed/15EoR6O-rUA" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="col">
            <h3>Why I believe the Bible</h3>
            <h5>By Dr. Voddie Baucham</h5>
            <p>
                The Bible is a reliable collection of historical documents written down by eyewitnesses during the
                lifetime of other eyewitnesses. They report to us supernatural events that took place in
                fulfillment of specific prophesies, and claim that their writings are divine rather than human in
                origin
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm">
            <!--<div class="col">-->
            <img src="~/images/baptism.jpg" alt="baptism" class="img-fluid" style="width:300px">
            <p></p>
            <button class="btn btn-secondary"
                    onclick="window.location.href='https://www.9marks.org/article/baptism-is-a-churchs-act/?utm_source=eml-article&utm_medium=eml-article&utm_campaign=eml-article&mc_cid=d551c3ff11&mc_eid=4b26d90fc2'"
                    target="blank">
                Click to Read article
            </button>
        </div>
        <div class="col">
            <h3>Baptism Is A Church’s Act</h3>
            <h5>
                By Bobby Jamieson
            </h5>
            <ul>
                <li>
                    What would you do if you were wading in a swimming pool and a friend came up behind you and
                    dunked you under the water? You could simply forgive your friend—a solidly Christian move.
                    You could retaliate in kind. You could even escalate the aquatic conflict, waiting until
                    your friend got out and dried off before shoving him or her back into the pool. So, which
                    will it be?
                    <br />
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-secondary"
                                onclick="window.location.href='https://www.9marks.org/article/baptism-is-a-churchs-act/?utm_source=eml-article&utm_medium=eml-article&utm_campaign=eml-article&mc_cid=d551c3ff11&mc_eid=4b26d90fc2'"
                                target="blank">
                            Read More
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr />
</section>