@page
@model RPClassicalBaptistPress.Pages.Media
@{
    ViewData["Title"] = "Classical Baptist Press - Media";
    ViewData["ParallaxImgPath"] = "../images/media.jpg";
    var mediaFiles = Media.GetMediaFiles();

}
<!-- Container element -->
<div class="parallax"></div>
<br />
<!--Main Body-->
<br />
<br />

<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="secTitle center" id="header">Media</h3>
            <hr>
            <br>
        </div>
    </div>
    @foreach (var mfile in mediaFiles)
    {
        <div class="row ">
            <div class="col-sm">
                @Html.Raw(mfile.EmbeddedHTMLMediaFile)
            </div>
            <div class="col">
                <h3 class="blue-grey-text text-darken-3"> @mfile.Title. </h3>
                <h5>By @mfile.Author</h5>
                <p class="card-panel">
                    @Html.Raw(mfile.DescriptionParagraph)
                </p>
            </div>
        </div>
        <hr />
    }
</section>