@page
@model RPClassicalBaptistPress.Pages.MoreAboutModel
@{
    ViewData["Title"] = "More About || Classical Baptist Press";
    ViewData["ParallaxImgPath"] = "../images/clouds.jpg";
}
<!-- Container element -->
<div class="parallax"></div>
<!--Main Body-->
<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="Section-Title center blue-grey-text text-darken-3" id="header">About</h3>
            <hr>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="./images/puritans.jpg" alt="Puritans" class="img-fluid materialboxed" style="width:350px">
            <br>
        </div>
        <div class="col">
            <p>
                <h5 class="Title-Card">
                    What Is A Classical Baptist Church?
                </h5>
                <small>
                    By Dr. John S. Waldrip
                </small>
            </p>
            <p class="indentation Body-Card">
                What is a classical Baptist Church? Let me begin by answering that there is no unanimity among
                Baptists on this issue since Baptists have historically been committed to the autonomy of the local
                congregation as opposed to the denominational oversight of congregations so typical of the Church
                of Rome and the mainline Protestant organizations. However, from this pastor’s perspective, several
                features may be consistently found in what I envision to be classical Baptists:
            </p>
            <p class="indentation Body-Card">
                First, classical Baptists are Baptists that are committed to Gospel preaching. Strange as this may
                sound, many these days (including Baptists) seem to have abandoned Gospel preaching in favor of
                what is commonly referred to as expository preaching. However, the risen Savior related all
                Scripture to Himself in <a href="https://www.biblegateway.com/passage/?search=Luke+24:27&version=KJV" target="blank">
                    Luke
                    24.27
                </a>.

                Thus, real exposition of God’s Word involves showing how everything in the Bible points to the
                Gospel. No wonder some of the most astute Bible preachers in history (among them notable Baptists)
                had congregations that were thoroughly conversant in Bible truth because their exposure to the
                gospel from texts throughout God’s Word acquainted them with the core and theme of the Bible
                message.
            </p>
            <p class="indentation Body-Card">
                Second, classical Baptists are Baptists that are committed to an approach to evangelism that has
                largely fallen out of favor since the impact of Charles G. Finney’s ministry has been felt. Finney,
                exposing himself in his writings as a follower of Pelagius, was opposed to monergism, the notion
                that the salvation of a sinner originates with God rather than being the combined effort of God and
                man. Sadly, many Baptists succumbed to the influence of Finney over the past two centuries for
                pragmatic reasons, not recognizing that his philosophy of revival and evangelism is based on a
                deeply flawed understanding of man’s depravity and Christ’s saving work. Thus, the classical
                Baptist’s model for effective evangelism is first God’s Word and second influenced by such notables
                as Jonathan Edwards, Charles H. Spurgeon, George Whitefield, Adoniram Judson, and William Carey.
            </p>
            <p class="indentation Body-Card">
                Third, classical Baptists are deeply committed to the reality and implications of a sinner’s
                depravity. The result of this commitment is an understanding that the sinner’s heart is deceitful
                and incapable of unaided honesty. Therefore, it is crucial to any consideration of administering
                believer baptism or admitting into Church membership that the candidate’s conversion testimony,
                comprehension of the Gospel, and manner of life since conversion be carefully considered.
            </p>
            <p class="indentation Body-Card">
                To accept as true a person’s declaration that he is a Christian, without discerning clarification,
                is an
                unwarranted and dangerous violation of the biblical principle that nothing is to be accepted as
                true which does not have the attestation of two or three witnesses of fact (
                <a href="https://www.biblegateway.com/passage/?search=Numbers+35%3A30&version=KJV"
                   target="blank">
                    Numbers
                    35.30
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Deuteronomy+17%3A6-7&version=KJV"
                   target="blank">
                    Deuteronomy
                    17.6-7
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Joshua+24%3A22&version=KJV"
                   target="blank">
                    Joshua
                    24.22
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=ruth+4%3A9-11&version=KJV" target="blank">
                    Ruth
                    4.9-11
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Job+10.17&version=KJV" target="blank">
                    Job
                    10.17
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Isaiah+8.2&version=KJV" target="blank">
                    Isaiah
                    8.2
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Isaiah+43.9-12&version=KJV"
                   target="blank">43.9-12</a>;
                <a href="https://www.biblegateway.com/passage/?search=Isaiah+44.8-9&version=KJV"
                   target="blank">44.8-9</a>;
                <a href="https://www.biblegateway.com/passage/?search=Jeremiah+32.10&version=KJV"
                   target="blank">
                    Jeremiah
                    32.10
                </a>,
                <a href="https://www.biblegateway.com/passage/?search=Jeremiah+12&version=KJV"
                   target="blank">12</a>,
                <a href="https://www.biblegateway.com/passage/?search=Jeremiah+25&version=KJV"
                   target="blank">25</a>,
                <a href="https://www.biblegateway.com/passage/?search=Jeremiah+44&version=KJV"
                   target="blank">44</a>;
                <a href="https://www.biblegateway.com/passage/?search=Matthew+18.15-20&version=KJV"
                   target="blank">
                    Matthew
                    18.15-20
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Luke+24.46-48&version=KJV" target="blank">
                    Luke
                    24.46-48
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+1.8&version=KJV" target="blank">
                    Acts
                    1.8
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+2.32&version=KJV"
                   target="blank">2.32</a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+3.15&version=KJV"
                   target="blank">3.15</a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+5.32&version=KJV"
                   target="blank">5.32</a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+10.39-40&version=KJV"
                   target="blank">10.39-40</a>;
                <a href="https://www.biblegateway.com/passage/?search=Acts+13.31&version=KJV"
                   target="blank">13.31</a>;
                <a href="https://www.biblegateway.com/passage/?search=2+Corinthians+13.1&version=KJV"
                   target="blank">
                    2
                    Corinthians 13.1
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=1+Thessalonians+2.10&version=KJV"
                   target="blank">
                    1
                    Thessalonians 2.10
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=1+Timothy+5.19&version=KJV" target="blank">
                    1
                    Timothy 5.19
                </a>,
                <a href="https://www.biblegateway.com/passage/?search=1+Timothy+6.12&version=KJV" target="blank">
                    6.12
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Hebrews+10.28&version=KJV"
                   target="blank">
                    Hebrews
                    10.28
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=1+John+4.1%3B+5.7-9&version=KJV"
                   target="blank">
                    1
                    John 4.1; 5.7-9
                </a>;
                <a href="https://www.biblegateway.com/passage/?search=Revelation+1.1%3B+2.2&version=KJV"
                   target="blank">
                    Revelation
                    1.1; 2.2
                </a>).
            </p>
            <p class="indentation Body-Card">
                Fourth, classical Baptists are convinced the new birth is a transformative miracle that is wrought
                by the Holy Spirit in the life of the sinner who comes to Jesus Christ in response to his exposure
                to the Gospel message. To many these days, there is no expectation of a different manner of life
                following conversion. However, the English Baptist pastor and author John Bunyan articulated an
                understanding of the new birth in his widely read Pilgrim’s Progress that is consistent with
                classical Baptist convictions about this matter. Do Christian’s sin? Sadly, we do sin. However, the
                blood-bought and blood-washed child of God is not the same person and does not live the same life
                after conversion as he did before His saving encounter with Christ.
            </p>
            <p class="indentation Body-Card">
                Fifth, classical Baptists strongly resist the tendency of some to be tossed about by every wind of
                change and the latest fads. We embrace an old message communicated to sinners the old way and decry
                the depersonalization of contemporary evangelism. Though the Christian life is personal, it is not
                private and is intended to be lived with others in the congregation. In like manner, the Gospel
                ministry may be conducted on a large scale to masses as well as to individuals, though conversion
                occurs when Jesus becomes the personal savior through the faith of the sinner.
            </p>
            <p class="indentation Body-Card">
                Sixth, classical Baptists reject the Protestant view of the Church set forth in the Westminster
                Confession of Faith (Chapter XXV – Of the Church), as well as the view of the Church set forth in
                what is commonly referred to as the Second London Baptist Confession of Faith of 1689 (Chapter XXVI
                – Of the Church). Classical Baptists embrace the conviction that the Church of Jesus Christ was
                established by the Savior during His earthly ministry, empowered by the Spirit on the Day of
                Pentecost, and subsequently divided into multiple congregations that established other Churches.
                Only in heaven will the Church be universal and consist of all Church Age believers in Jesus Christ
                (<a href="https://www.biblegateway.com/passage/?search=Hebrews+12.23&version=KJV"
                    target="blank">
                    Hebrews
                    12.23
                </a>).
            </p>
            <p class="indentation Body-Card">
                Finally, classical Baptists are missionary Baptists, recognizing our Great Commission is rightly
                obeyed when Christians render service to Christ to, through, and from congregations where there is
                accountability, the administration of the two ordinances, and properly administered discipline, and
                when congregations are involved in starting other Churches to carry out the Great Commission in
                other places.
            </p>
            <p class="indentation Body-Card">
                These are but a few of the marks of a classical Baptist, as understood by one Baptist pastor. A
                classical Baptist Church, therefore, agrees with these marks and seeks to exemplify them.
            </p>
        </div>
    </div>
    <hr />
</section>