@page
@model RPClassicalBaptistPress.Pages.PublishWithUsModel
@{
    ViewData["Title"] = "Publish With Us || Classical Baptist Press";
    ViewData["ParallaxImgPath"] = "../images/pub.jpg";
}
<div class="parallax"></div>
<header class="row">
    <div class="col">
        <h3 class="Section-Title center " id="header">Publish With Us</h3>
        <hr>
    </div>
</header>
<main class="row">
    <div class="col Body-Card" style="text-align: center">
        Do you have a manuscript that you would like to have published?
        <br />
        <br />
        Are you interested in publishing with Classical Baptist Press?
        <br />
        <br />
        For further information and guidelines to follow for manuscript submission and review contact:
        <p>
            <a href="mailto:publisher@classicalbaptistpress.com" target="_top">
                publisher@classicalbaptistpress.com
            </a>
        </p>
    </div>
</main>